* {
  font-family: monospace;
  text-align: center;
  white-space: pre-line;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: black;
  text-decoration: none;
}
